USE [master]
GO
/****** Object:  Database [BD]    Script Date: 16/05/2020 20:40:38 ******/
CREATE DATABASE [BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD]
GO
/****** Object:  Table [dbo].[Historique]    Script Date: 16/05/2020 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historique](
	[IdHistorique] [int] IDENTITY(1,1) NOT NULL,
	[IdSearch] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Historique] PRIMARY KEY CLUSTERED 
(
	[IdHistorique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lien]    Script Date: 16/05/2020 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lien](
	[IdLien] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](100) NULL,
	[title] [nvarchar](100) NULL,
 CONSTRAINT [PK_Lien] PRIMARY KEY CLUSTERED 
(
	[IdLien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mot]    Script Date: 16/05/2020 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mot](
	[IdMot] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mot] PRIMARY KEY CLUSTERED 
(
	[IdMot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Search]    Script Date: 16/05/2020 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search](
	[IdSearch] [int] IDENTITY(1,1) NOT NULL,
	[IdMot] [int] NULL,
	[IdLien] [int] NULL,
 CONSTRAINT [PK_Search] PRIMARY KEY CLUSTERED 
(
	[IdSearch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lien] ON 

INSERT [dbo].[Lien] ([IdLien], [Url], [title]) VALUES (1, N'https://www.google.com', N'Google')
INSERT [dbo].[Lien] ([IdLien], [Url], [title]) VALUES (2, N'https://www.gmail.com', N'Gmail')
INSERT [dbo].[Lien] ([IdLien], [Url], [title]) VALUES (3, N'https://classroom.google.com', N'Classroom')
SET IDENTITY_INSERT [dbo].[Lien] OFF
GO
ALTER TABLE [dbo].[Historique]  WITH CHECK ADD  CONSTRAINT [FK_Historique_Search] FOREIGN KEY([IdSearch])
REFERENCES [dbo].[Search] ([IdSearch])
GO
ALTER TABLE [dbo].[Historique] CHECK CONSTRAINT [FK_Historique_Search]
GO
ALTER TABLE [dbo].[Search]  WITH CHECK ADD  CONSTRAINT [FK_Search_Lien] FOREIGN KEY([IdLien])
REFERENCES [dbo].[Lien] ([IdLien])
GO
ALTER TABLE [dbo].[Search] CHECK CONSTRAINT [FK_Search_Lien]
GO
ALTER TABLE [dbo].[Search]  WITH CHECK ADD  CONSTRAINT [FK_Search_Mot] FOREIGN KEY([IdMot])
REFERENCES [dbo].[Mot] ([IdMot])
GO
ALTER TABLE [dbo].[Search] CHECK CONSTRAINT [FK_Search_Mot]
GO
USE [master]
GO
